.aboutPage {
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.aboutTitle {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 600;
}
.aboutContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutContentTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aboutTexts {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
}
.aboutDescription {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
  color: #343434;
}
.cvButton {
  background-color: #4a68a8;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Poppins';
  padding: 10px 15px 10px 15px;
  box-shadow: 5px 5px 7px rgba(47, 62, 92, 0.2);
}
@media (max-width: 952px) {
  .aboutTitle { 
    font-size: 16px;
  }
  .aboutTexts {
    font-size: 12px;
  }
  .description{
    font-size: 12px;
  }
  .aboutDescription{
    font-size: 12px;
}
.cvButton{
  font-size: 12px;
}
}
@media (max-width: 858px) {
  .aboutTitle { 
    font-size: 16px;
  }
  .aboutTexts {
    font-size: 12px;
  }
  .description{
    font-size: 12px;
  }
  .aboutDescription{
    font-size: 12px;
}
.cvButton{
  font-size: 12px;
}
}
@media screen and (max-width: 768px) {
 .aboutTitle { 
    font-size: 16px;
  }
  .aboutTexts {
    font-size: 12px;
  }
  .description{
    font-size: 12px;
  }
  .aboutDescription{
    font-size: 12px;
}
.cvButton{
  font-size: 12px;
}
}
@media (max-width: 480px) {
  .aboutTitle { 
    font-size: 16px;
  }
  .aboutTexts {
    font-size: 10px;
  }
  .description{
    font-size: 12px;
  }
  .aboutDescription{
    font-size: 12px;
}
.cvButton{
  font-size: 12px;
}
}