.homePage{
    background-image: url('../assests/homepage.jpg');
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    background: linear-gradient(to right, #3F40A6, #4c8bf5, #00b8f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #AD9BFF;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
}
.name{
    font-family: 'Poppins';
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
}
.description{
    font-size: 16px;
    font-family: 'Poppins';
}
.highlight{
    background: linear-gradient(to right, #3F40A6, #4c8bf5, #00b8f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #AD9BFF;
}
.listOfTech{
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
}
.listOfTech img{
    margin: 20px;
}

@media (max-width: 952px) {
}
@media (max-width: 858px) {
}
@media screen and (max-width: 768px) {
 .title {
    font-size: 16px;
  }
  .name {
    font-size: 40px;
  }
  .description{
    font-size: 14px;
  }
  .listOfTech img{
    margin: 15px;
}
}
@media (max-width: 480px) {
    .title {
        font-size: 10px;
      }
      .name {
        font-size: 40px;
      }
      .description{
        font-size: 14px;
      }
      .listOfTech img{
        margin: 15px;
    }

}