.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectsContent {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.projectsTitle {
  color: black;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
}
.gridParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.project-grid-container {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Updated to 1fr to fill the space equally */
  justify-items: center; /* Horizontally center the items within the grid cell */
}

.project-grid-item {
  border: 2px solid #abc5ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;

  overflow: hidden;
  width: 100%;
}
.iconDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeeff;
}
.descriptionDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}
.postName {
  font-size: 20px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  color: #4a68a8;
}
.postDescription {
  color: #464646;
  font-family: "Poppins";
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 7.6em;
  line-height: 1.8em;
}

.toolDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.toolsTechnologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.toolItem {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
}
.iconDiv > img {
  width: 200px;
}
.toolItem > img {
  width: 40px;
}
.itemText {
  color: #4a68a8;
  font-family: "Poppins";
  font-size: 12px;
  margin-left: 10px;
  font-weight: 500;
}
.itemFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.itemFooterItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.itemFooterItem {
  color: black;
  font-size: 12px;
  font-family: "Poppins";
}
.toggle-display-button {
  color: #4a67a9;
  align-self: flex-end;
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 16px;
  text-decoration: underline;
}
@media (max-width: 952px) {
  .projectsTitle {
    font-size: 16px;
  }
  .projectsContent {
    width: 90%;
  }
  .project-grid-container {
    column-gap: 8px;
    row-gap: 10px;
  }

  .project-grid-item {
    width:  350px;
    height: 250px;
  }
  .iconDiv > img {
    height: 50px;
    width: 50px;
  }
  .descriptionDiv{
padding-left: 1px;
  }
  .postDescription {
    max-height: 6.6em;
    line-height: 1.8em;
    font-size: 10px;
  }
  .postName {
    font-size: 14px;
  }
  .postName {
    font-size:14px;
  }
  .toolItem {
    margin: 2px;
  }
  .toolItem >img{
    width: 20px;
  }
  .itemFooter {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .itemFooterItem {
    font-size: 10px;
  }
  .itemFooterItem>img {
    width: 8px;
  }
  .itemText{
    font-size: 8px;
  }
}
@media (max-width: 858px) {
  .projectsTitle {
    font-size: 16px;
  }
  .projectsContent {
    width: 90%;
  }
  .project-grid-container {
    column-gap: 8px;
    row-gap: 10px;
  }

  .project-grid-item {
    width:  250px;
    height: 220px;
  }
  .iconDiv > img {
    height: 50px;
    width: 50px;
  }
  .descriptionDiv{
padding-left: 1px;
  }
  .postDescription {
    max-height: 4.6em;
    line-height: 1.8em;
    font-size: 8px;
  }
  .postName {
    font-size: 12px;
  }
  .postName {
    font-size:10px;
  }
  .toolItem {
    margin: 2px;
  }
  .toolItem >img{
    width: 10px;
  }
  .itemFooter {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .itemFooterItem {
    font-size: 5px;
  }
  .itemFooterItem>img {
    width: 8px;
  }
  .itemText{
    font-size: 8px;
  }
}
@media screen and (max-width: 768px) {
  .projectsTitle {
    font-size: 16px;
  }
  .projectsContent {
    width: 90%;
  }
  .project-grid-container {
    column-gap: 8px;
    row-gap: 10px;
  }

  .project-grid-item {
    width:  170px;
    height: 200px;
  }
  .iconDiv > img {
    height: 50px;
    width: 50px;
  }
  .descriptionDiv{
padding-left: 1px;
  }
  .postDescription {
    max-height: 4.6em;
    line-height: 1.8em;
    font-size: 8px;
  }
  .postName {
    font-size: 12px;
  }
  .postName {
    font-size:10px;
  }
  .toolItem {
    margin: 2px;
  }
  .toolItem >img{
    width: 10px;
  }
  .itemFooter {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .itemFooterItem {
    font-size: 5px;
  }
  .itemFooterItem>img {
    width: 8px;
  }
  .itemText{
    font-size: 8px;
  }

}
@media (max-width: 480px) {
  .projectsTitle {
    font-size: 16px;
  }
  .projectsContent {
    width: 90%;
  }
  .project-grid-container {
    column-gap: 8px;
    row-gap: 10px;
  }


  .project-grid-item {
    width: 170px;
    height: auto;
  }
  .iconDiv > img {
    height: 50px;
    width: 50px;
  }
  .descriptionDiv{
    padding-left: 1px;
      }
      .postDescription {
        max-height: 4.6em;
        line-height: 1.8em;
        font-size: 8px;
      }
      .postName {
        font-size: 12px;
      }
      .postName {
        font-size:10px;
      }
      .toolItem {
        margin: 2px;
    
      }
      .toolItem >img{
        width: 10px;
      }
      .itemFooter {
        margin-top: 1px;
        margin-bottom: 1px;
      }
      .itemFooterItem {
        font-size: 5px;
      }
      .itemFooterItem>img {
        width: 8px;
      }
      .itemText{
        font-size: 8px;
      }
}
