.skillPage{
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skillTitle{
    color: #17377D;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 600;
}
.SkillContent{
    width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Mui-selected{
    color:"black"
}
.span-active{
    margin-top: 5px;
    height: 2px;
    background:    #324F8E;

}
.span-inActive{
    margin-top: 5px;
    height: 2px;
}
.tabs{
    width: 100%;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.tabItem{
    display: flex;
    flex-direction: column;
}
.active{
    color: #324F8E;
    font-family: 'Poppins';
    font-size: 20px;
    border: none;
    background: none;
}
.inActive{
    font-family: 'Poppins';
    font-size: 20px;
    background: none;
    border: none;
    color: #565656;
}
.scrolling-wrapper-flexbox {
    display: flex;
  }
  
  .card {
    flex: 0 0 auto; /* will allow items to scroll */
    width: 200px; /* sample width for each item; change as needed */
     /* space between items; change as needed */
    border: 1px solid #ABC5FF;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
.contentPanel{
    white-space: nowrap;
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow-x: auto;
}
.cardName{
    color: #363636;
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: 10px;
}